
.submit{
  font-family: 'Montserrat', sans-serif;
    color: #171c24;
}

.submit:hover{
  font-family: 'Montserrat', sans-serif;
    color:#ff3d00;
}
  
.title{
  font-family: 'Montserrat', sans-serif;
    padding: 40px 0 40px 0;
    font-size: 25px;
    text-align:center;
}

.login {
    padding: 40px 0 40px 0;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

i {
    font-size: 40px;
    color: #c7c7c7;
    text-align: center;
    margin: 35px;

  }
  
i:hover {
    color:#ff3d00;
  }

.createResource {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-align: center;
  }
/*These button styles can be changed to however you guys see fit this stuff was just an example working with conor*/
#loginBtn {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  background-color:#171c24;
  color:#e4e4e4;
  border-radius: 10px;
  outline:none;
  letter-spacing: 4px;
  padding: 0 10px 0 10px;
}  
#loginBtn:hover {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color:#ff3d00;
  color:#171c24;
  border-radius: 10px;
  outline:none;
}  

#register, #reset {
  font-family: 'Montserrat', sans-serif;
  color: #171c24;
  font-size: 20px;
  text-align: center;
  }

#register:hover, #reset:hover {
    font-family: 'Montserrat', sans-serif;
    color: #ff3d00;
    font-size: 20px;
    text-align: center;
    }


#lock{
  color: #171c24;
  font-size: 60px;
  text-align: center;
  margin-left: 49%;
}
