.submit{
    color: #171c24;
}

.submit:hover{
    color:#ff3d00;
}
  
.title{
    padding: 40px 0 40px 0;
    font-size: 25px;
    text-align:center;
}

.login {
    padding: 40px 0 40px 0;
    font-size: 20px;
    text-align: center;
  }

i {
    font-size: 40px;
    color: #c7c7c7;
    text-align: center;
    margin: 35px;

  }
  
i:hover {
    color:#ff3d00;
  }

.createResource {
    text-align: center;
  }

#loginBtn {
  font-size: 25px;
  background-color:#171c24;
  color:#e4e4e4;
  border-radius: 10px;
  /* border: none; */
  outline:none;
  letter-spacing: 4px;
  padding: 0 10px 0 10px;
}  
#loginBtn:hover {
  font-size: 25px;
  background-color:#ff3d00;
  color:#171c24;
  border-radius: 10px;
  outline:none;
}  

#register, #reset {
  color: #171c24;
  font-size: 20px;
  text-align: center;
  }

#register:hover, #reset:hover {
    color: #ff3d00;
    font-size: 20px;
    text-align: center;
    }


#lock{
  color: #171c24;
  font-size: 60px;
  text-align: center;
  margin-left: 49%;
}
